<div
  class="bg-soft-color shadow-lg shadow-dark-black border-b-2 border-dark-black border-solid text-white"
>
  <div
    class="container mx-auto py-2 px-4 flex items-center uppercase justify-between text-sm md:text-lg"
  >
    <span class="text-dark-black">
      <a href="#"> LOGO HERE </a>
    </span>
    <ul
      class="list-reset flex justify-end flex-1 items-center text-sm md:text-lg"
    >
      <li class="mr-2">
        <a
          class="inline-block py-2 px-4 text-dark-black semi-bold hover:text-lg no-underline"
          href="#"
          >Services</a
        >
      </li>
      <li class="mr-2">
        <a
          class="inline-block no-underline text-dark-black hover:semi-bold hover:ring-offset-blue-500 hover:text-underline py-2 px-4"
          href="#"
          >Blog</a
        >
      </li>
    </ul>

    <a
      target="_blank"
      href="https://cleanskinaesthetics.janeapp.com"
      class="px-4 py-2 shadow-md shadow-neutral-700 uppercase bg-light-color bg-gradient-to-r from-heavy-color to-light-color hover:from-heavy-color hover:to-heaviest-black text-dark-black border-solid border-2 border-medium-color hover:border-2 hover:bg-heaviest-color hover:semi-bold hover:text-white rounded transition-colors duration-500"
    >
      Book Now
    </a>
  </div>
</div>
