<div class="bg-light-pink border-b border-solid">
  <div class="container mx-auto py-2 px-4 flex items-center justify-between">
    <ul class="list-reset lg:flex justify-end flex-1 items-center">
      <li class="mr-3">
        <a class="inline-block py-2 px-4 font-semibold no-underline" href="#"
          >Home</a
        >
      </li>
      <li class="mr-3">
        <a
          class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:text-underline py-2 px-4"
          href="#"
          >Services</a
        >
      </li>
      <li class="mr-3">
        <a
          class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:text-underline py-2 px-4"
          href="#"
          >Mindi</a
        >
      </li>
    </ul>
    <a
      href="#"
      class="font-semibold border-solid border-2 border-dark-black bg-white hover:border-1 hover:bg-dark-grayish hover:text-white text-dark-black py-2 px-4 rounded-full transition-colors duration-500"
      >Book Now</a
    >
  </div>
</div>
