{{ define "main" }}

<section
  class="md:flex items-center justify-center h-screen bg-white border-b-2 border-dark-black"
>
  <div class="container mx-auto px-4">
    <div class="flex flex-col md:flex-row">
      <div
        class="flex items-center justify-center md:justify-start w-full md:w-1/2"
      >
        <div
          class="mx-auto px-4 py-8 place-self-center lg:col-span-7 h-max sm:mt-12"
        >
          <h1
            class="font-semibold text-4xl md:text-6xl lg:text-7xl text-dark-black mb-6"
          >
            Enhance Your
            <br />
            Natural Beauty
          </h1>

          <p
            class="text-xl md:text-2xl lg:text-3xl text-dark-black leading-relaxed mb-8 max-w-2xl"
          >
            Discover the latest cosmetic dermatology treatments to rejuvenate
            your skin and enhance your confidence.
          </p>

          <p class="text-xl md:text-xl lg:text-2xl text-dark-black mb-8">
            Botox, Fillers, Peels, Microneedling & More
          </p>
          <button
            class="px-6 py-4 shadow-sm shadow-neutral-500 uppercase bg-light-color bg-gradient-to-r from-heavy-color to-light-color hover:from-heavy-color hover:to-heaviest-black text-dark-black border-solid border-2 border-medium-color hover:border-2 hover:bg-heaviest-color hover:semi-bold hover:text-white rounded transition-colors duration-500 text-lg"
          >
            Book a Consultation
          </button>
        </div>
      </div>
      <div class="w-full max-h-300 md:w-1/2 md:h-full">
        <img
          src="http://localhost:1313/img/cactus-flower.jpg"
          alt="Image"
          class="mx-auto object-cover"
        />
      </div>
    </div>
  </div>
</section>

<section
  class="md:flex items-center justify-center max-h-500 bg-white border-b-2 border-dark-black"
>
  <div class="flex flex-col md:flex-row">
    <div class="md:w-1/2">
      <div class="p-12 md:p-32 text-dark-black">
        <h2 class="mb-12 text-4xl">What's the secret to being this awesome?</h2>
        <p class="mb-4 text-xl">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum maxime
          voluptas ipsam aliquam itaque cupiditate provident architecto expedita
          harum culpa odit, inventore rem molestias laborum repudiandae corporis
          pariatur quo eius iste! Quaerat, assumenda voluptates! Molestias,
          recusandae? Maxime fuga omnis ducimus.
        </p>

        <p class="mb-8 text-xl">
          Commodi ut nisi assumenda alias maxime necessitatibus ad rem repellat
          explicabo, reiciendis illum suscipit iusto? Provident dignissimos
          similique, reiciendis inventore accusantium unde mollitia, deleniti
          quae atque error id perspiciatis illum.
        </p>

        <a href="#" class="text-xl text-sky-400 after:content-['_↗']">
          Read more on our blog.
        </a>
      </div>
    </div>
    <div class="md:w-1/2 mt-0 mb-0 mr-0">
      <div class="h-full">
        <img
          src="http://localhost:1313/img/mindi-power-pose.jpg"
          alt=""
          class="w-full h-full object-cover"
        />
      </div>
    </div>
  </div>
</section>

<section class="bg-soft-color border-b-2 border-dark-black">
  <h2
    class="bg-gradient-to-r from-light-color to-soft-color border-b-2 border-dark-black py-12 text-center text-4xl text-dark-black"
  >
    Cosmetic Services
  </h2>

  <div class="py-24 mx-auto container">
    <div class="opacity-100 transition-opacity duration-150 ease-linear mb-4">
      <div class="grid gap-6 lg:grid-cols-3 lg:gap-x-6">
        <div class="mb-6 lg:mb-0">
          <div
            class="block h-full rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]"
          >
            <div
              class="border-b-2 border-neutral-100 border-opacity-100 p-6 text-center"
            >
              <h3 class="mb-2 text-3xl uppercase">
                <strong>Botox</strong>
              </h3>
              <h3 class="text-2xl">
                <strong>40</strong>
                <small class="text-base text-neutral-500">/min</small>
              </h3>
              <p class="text-2xl font-normal">
                <span class="text-sm">50</span>
                <small class="text-base text-neutral-500">usd</small>
              </p>
            </div>
            <div class="p-6">
              <div class="mx-auto text-center mx-8">
                <button
                  class="mb-8 px-4 py-2 shadow-sm shadow-neutral-700 uppercase bg-light-color bg-gradient-to-r from-heavy-color to-light-color hover:from-heavy-color hover:to-heaviest-black text-dark-black border-solid border-2 border-medium-color hover:border-2 hover:bg-heaviest-color hover:semi-bold hover:text-white rounded transition-colors duration-500 text-lg"
                >
                  Book a Treatment
                </button>
                <p class="mb-8">
                  Our professional cosmetic injection of Botox service expertly
                  rejuvenates your appearance, smoothing out fine lines and
                  wrinkles, leaving you with a refreshed and youthful look.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="mb-6 lg:mb-0">
          <div
            class="block h-full rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]"
          >
            <div
              class="border-b-2 border-neutral-100 border-opacity-100 p-6 text-center"
            >
              <h3 class="mb-2 text-3xl uppercase">
                <strong>VI Peel</strong>
              </h3>
              <h3 class="text-2xl">
                <strong>20</strong>
                <small class="text-base text-neutral-500">/min</small>
              </h3>
              <p class="text-2xl font-normal">
                <span class="text-sm">700</span>
                <small class="text-base text-neutral-500">usd</small>
              </p>
            </div>
            <div class="p-6">
              <div class="mx-auto text-center mx-8">
                <button
                  class="mb-8 px-4 py-2 shadow-sm shadow-neutral-700 uppercase bg-light-color bg-gradient-to-r from-heavy-color to-light-color hover:from-heavy-color hover:to-heaviest-black text-dark-black border-solid border-2 border-medium-color hover:border-2 hover:bg-heaviest-color hover:semi-bold hover:text-white rounded transition-colors duration-500 text-lg"
                >
                  Book a Treatment
                </button>
                <p class="mb-8">
                  20 minute appointment for an effective and painless peel to
                  treat brown spots, sun damage and acne. Peeling begins 2 days
                  after the application of the peel.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="mb-6 lg:mb-0">
          <div
            class="block h-full rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]"
          >
            <div
              class="border-b-2 border-neutral-100 border-opacity-100 p-6 text-center"
            >
              <h3 class="mb-2 text-3xl uppercase">
                <strong>Filler</strong>
              </h3>
              <h3 class="text-2xl">
                <strong>60</strong>
                <small class="text-base text-neutral-500">/min</small>
              </h3>
              <p class="text-2xl font-normal">
                <span class="text-sm">700</span>
                <small class="text-base text-neutral-500">usd</small>
              </p>
            </div>
            <div class="p-6">
              <div class="mx-auto text-center mx-8">
                <button
                  class="mb-8 px-4 py-2 shadow-sm shadow-neutral-700 uppercase bg-light-color bg-gradient-to-r from-heavy-color to-light-color hover:from-heavy-color hover:to-heaviest-black text-dark-black border-solid border-2 border-medium-color hover:border-2 hover:bg-heaviest-color hover:semi-bold hover:text-white rounded transition-colors duration-500 text-lg"
                >
                  Book a Treatment
                </button>
                <p class="mb-8">
                  60 minute appointment dedicated to placing dermal fillers
                  (HAs) or Sculptra to improve volume loss to the face, neck,
                  lips or hands.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <small>Additional fees may apply depending on services rendered.</small>
    </div>
  </div>
</section>

<section
  class="md:flex items-center justify-center max-h-500 bg-white border-b-2 border-dark-black"
>
  <div class="flex flex-col md:flex-row">
    <div class="md:w-1/2 mt-0 mb-0 mr-0">
      <div class="h-full">
        <video controls class="min-h-full">
          <source src="http://localhost:1313/assets/mindi-backstory.mov" type="video/quicktime" />
        </video>
      </div>
    </div>
    <div class="md:w-1/2">
      <div class="p-12 md:p-32 text-dark-black">
        <h2 class="mb-12 text-4xl">Meet Mindi</h2>
        <p class="mb-4 text-xl">
          Mindi Mattheus is a Board Certified Adult-Geriatric Nurse Practitioner
          with with training in internal medicine and cosmetic dermatology with
          a focus on facial rejuvenation.
        </p>
        <p class="mb-4 text-xl">
          Known for her artful work and conservative techniques that help
          patients achieve facial harmony while giving them a refreshed version
          of their natural beauty. through education on skincare, preventative
          treatments and corrective treatments she has been able to create
          meaningful changes for patients seeking anti-aging.
        </p>

        <p class="mb-8 text-xl">
          Mindi completed her undergraduate studies at the University of
          Florida in 2008 with a Bachelors of Science in Nursing and then
          her Masters of Science in Nursing from New York University in
          2015. She trained under world-renowned plastic surgeons, Daniel
          Baker, MD, and Steven Levine MD.
        </p>
        <p class="text-right text-xl">- Mindi</p>
      </div>
    </div>
  </div>
</section>


  <section class="bg-heaviest-color border-b-2 border-dark-black">
    <div class="container mx-auto px-4 flex items-center justify-center">
      <div class="mt-28 mb-16 text-center">
        <h1
          class="text-4xl md:text-6xl lg:text-7xl text-dark-black leading-normal mb-6"
        >
          Wanna fanta?
        </h1>

        <p
          class="text-xl md:text-2xl lg:text-3xl text-dark-black leading-relaxed mb-12 max-w-3xl"
        >
          Compelling statement why to book and spend money.
        </p>

        <a
          target="_blank"
          href="https://cleanskinaesthetics.janeapp.com"
          class="px-6 py-4 bg-white border-solid border-2 border-dark-black hover:border-1 hover:bg-heaviest-color hover:text-white text-dark-black rounded transition-colors duration-500 font-semibold text-lg rounded-xl"
        >
          Book a Consultation
        </a>
      </div>

      <div></div>
    </div>
  </section>
</div>
{{ end }}
